body,
select {
  font: 10pt sans;
}

h2 {
  text-align: center;
}

#overviewTable{
    position: center;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
}
#tbody:hover {background-color: lightgray;}
#mynetwork {
  position: relative;
  width: 60vw;
  height: 45vw;
  border: 1px solid lightgray;
  background: #d1d1d1;
} 

table.asset {
  text-align: left;
}

table.legend_table {
  font-size: 30px;
  border-width: 1px;
  border-color: #d3d3d3;
  border-style: solid;
  padding: 2px;
}
table.legend_table,
td {
  border-width: 1px;
  border-color: #d3d3d3;
  border-style: solid;
  padding: 2px;
}
.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
div.table_content {
  width: 80px;
  text-align: center;
}
div.table_description {
  width: 100px;
}

#operation {
  font-size: 28px;
}

#network-popUp {
  /* text-align: center;
  display: none;
  font-size: 6px;
  border-style: solid;
  border-color: #5394ed;
  padding: 10px; */
  display: none;
  position: absolute;
  top: 250px;
  right: 50px;
  z-index: 299;
  width: 350px;
  height: 300px;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  border-color: #5394ed;
  padding: 10px;
  text-align: center;
  font-size: 6px;
}

input {
  font-size: 12px;
  height: 2em;
}

textarea {
  font-size: 12px;
}

.center {
  display: flex;
  justify-content: center;
}